.resultContainer {
  height: 100vh;
}
.resultHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resultPageLogo {
  width: 149px;
  height: 150px;
  margin-right: 35px;
}

.resultPageInput {
  width: 509px;
  height: 46px;
  left: 221px;
  top: 35px;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  padding-left: 20px;
  color: #484848;
  margin-right: 24px;
}
.resultPageInput:hover {
  width: 509px;
  height: 46px;
  background: rgba(100, 100, 100, 0.08);
  border: 2px solid rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  border-radius: 8px;
}

.resultPageInput::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;

  color: rgba(100, 100, 100, 0.5);
}
.resultSearchButton {
  width: 138px;
  height: 46px;
  left: 754px;
  top: 32px;
  background: #4f75c2;
  border-radius: 8px;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sorting {
  display: flex;
  cursor: pointer;
  justify-content: flex-end;
  padding-right: 100px;
}
.orderButton {
  background-color: white;
  border: none;
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #484848;
}
.sortOptions {
  width: 156px;
  height: 127px;
  background: #ffffff;
  border: 1px solid #484848;
  box-sizing: border-box;
  border-radius: 4px;
}
.sortOptions > button {
  border: none;
  background-color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  /* line-height: 16px; */
  align-items: center;
  color: #000000;
  margin-left: 6px;
  margin-bottom: 1px;
  padding: 6px 6px 6px 6px;
}

.sortOptions > button:hover {
  background: #c4c4c4;
  border-radius: 4px;
  color: white;
}
.resultPageList {
  width: 83%;
}
.countryCity {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #484848;
  width: 290px;
}
.nameDate {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #686868;
}
.email {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #484848;
}
.listItem {
  border-bottom: 1px solid #585858;
  padding-bottom: 3px;
  width: 644px;
  display: flex;
  height: 50px;
}
.liHover {
  padding-bottom: 9px;
  padding-top: 10px;
  padding-left: 11px;
  margin-bottom: 12px;
  width: 661px;
}
.liHover:hover {
  background: #c4c4c4;
  border-radius: 4px;
}
